<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">

<body>
    <div class="container">



    <h1 style="margin-left: 5%;"><strong>Compose</strong></h1>
    <form action="/compose" method="POST">
        <div class="composetitle">
            <input class="form-control" type="text" name="postTitle" placeholder="Post Title" required>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
    




<%- include("partials/footer") -%>